////////////////////////////// COLORS

$blocks-color: #ffffff;
$nav-link-color: #aaaaaa;
$color-secondary--lighten: #888888;
$blog-block-4--color: #555557;
$blog-pseudo--color: #454545;
$blog-block-5-pseudo--color: #565656;
$quote-color: #efefef;
$btn-border-white--color: #f2f2f2;
$blog-bg-color: #232325;
$btn-contact-us-text--color: #cecece;
$form-border--color: #464646;
$services-subtitle--color: #cfcfcf;
$background: #e3e3e3;
$about-after--color: #b0b0b0;
$map-icon-border--color: #a1a1a1;
$blog-text--color: #949494;
$text--main-color: #3e3d3d;
$logo-name--color: #757575;
$footer-line--color: #3e3e3e;
$points--color: #c5c5c5;
$blocks-color--darker: #2d2d2f;
$fa-icons--color: #a4a4a4;
$blog-block-5--color: #424244;
$text--secondary-color: #d8d8d8;

////////////////////////////// FONTS

$title-font: 'Amsdam Regular';
$italic-font: 'CrimsonText-Italic';
$main-font: 'CrimsonText-Regular';
$secondary-font: 'Montserrat-Regular';
$bold-font: 'Montserrat-Bold';
